@import url('https://fonts.googleapis.com/css?family=Work+Sans:500&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
}
.carousel-item {
    height: 600px;
}
  
.carousel-item img {
     height: inherit;
     width: inherit;
}