@import url('https://fonts.googleapis.com/css?family=Work+Sans:500&display=swap');
a:hover{
    text-decoration: none;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.carousel-item {
    height: 600px;
}
  
.carousel-item img {
     height: inherit;
     width: inherit;
}
#contact i{
    font-size: 60px;
    padding: 20px;
    width: 100%;
    text-align: center;
 }
