<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/main.css" />
    <title><%= title %></title>
  </head>
  <body>
    <!--NAVIGATION BAR-->
    <nav
      id="myNav"
      class="navbar navbar-expand-lg navbar-light bg-light sticky-top"
    >
      <div class="container">
        <a class="navbar-brand" href="#">SSLCF</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#contact"> Contact</a>
            </li>
            <!-- <li class="nav-item">
                                <a class="nav-link " href="#donate">Donate</a>
                            </li> -->
            <li class="nav-item">
              <a class="nav-link " href="#team">Our Team</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--/END OF NAVIGATION BAR-->

    <!--Container Division-->
    <div class="container">
      <div class="jumbotron text-center">
        <h1></h1>
        <% if (message) { %>
        <p class="\<%- clas %> \">
          <%- message %>
        </p>

        <% } %>
      </div>
    </div>
    <!--/End of COntainer Div-->
  </body>
</html>
